extends ../layouts/default

block css
	link(href="/styles/root.css", rel="stylesheet")


block content
	//main content
	.container
	<!-- Page Content -->
	.container.text-white
		<!-- Introduction Row -->
		.row
			.col-lg-12
				h1.text-center Peter Nguyen Website
		.row
			.col-lg-12
				h1.page-header About
				| Welcome to my website. Feel free to clink links below to discover more about the webiste as well as myself.
		<!-- Table of content -->
		.row
			div.col-lg-12		
				h2.page-header All possible directory
				div.col-lg-4.col-sm-6.text-center
					a(href="/~hoangnt")
						img.img-circle.img-responsive.img-center.hovereffect(src="http://i.imgur.com/lFkVMrU.png"  alt="" height="200" width="200")
					h2  
						a(href="/blog") My Homepage
						small  Academic and Profession
					p This is my official homepage for academic and working career. All of my project, paper, working experience, resume will be listed here.
				div.col-lg-4.col-sm-6.text-center
					a(href="/blog")
						img.img-circle.img-responsive.img-center.hovereffect(src="http://i.imgur.com/LCumQb8.jpg"  alt="" height="200" width="200")
					h2  
						a(href="/blog") Blog
						small  Peter Nguyen Blog
					p I write blog about everything: From self-related events, hobbies to my thoughts and opinions as a Computer Science student and Software Engineer. 
			
				div.col-lg-4.col-sm-6.text-center
					a(href="/app/index.html")
						img.img-circle.img-responsive.img-center.hovereffect(src="http://i.imgur.com/AfYeysP.png"  alt="" height="200" width="200")
					h2  
						a(href="/blog") Application
						small  Self writing apps
					p Where I post demo/deployment of some application/service I wrote in spare time. It can be very interesting or useful, but some of them could be completely nonsense.
				


