extends ../layouts/default

block css
	link(href="/styles/root.css", rel="stylesheet")

block content
	//content
	.container
		.row
			.container
				.col-xs-3
					img(class="img-circle img-center" src="http://i.imgur.com/zQExT97.jpg")
				.col-xs-7
					h1 Peter Nguyen

